* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* width: 100%;
  max-width: 100vw; */
  font-family: 'SuisseIntl', sans-serif;
  background: #ffffff;
  /* overflow-x: hidden; */
  width: 100%;
}
